@{
    ViewData["Title"] = "معلومات العميل";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row col-lg-4 align-items-center">
            <h4 class="fw-bold text-center mt-3"></h4>
            <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                <label for="txt-ClientName" class="form-label">اسم ولي الامر</label>
                <input type="text" id="txt-ClientName" placeholder="اختياري" class="form-control">
            </div>
            <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                <label for="txt-ClientName" class="form-label">المؤهل</label>
                <input type="text" id="txt-Qualification" placeholder="اختياري" class="form-control">
            </div>
            <div>
                <button type="button" class="btn btn-primary" onclick="GoFirstStep(document.getElementById('txt-ClientName').value,document.getElementById('txt-Qualification').value)"><i class="fas fa-chevron-circle-right fa-lg"></i> التالي</button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">السابق <i class="fas fa-chevron-circle-left fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
     $(function () {
        $('#txt-ClientName').val(localStorage.clientname)
        $('#txt-Qualification').val(localStorage.qualification)
     })
    </script>
}


