@{
    ViewData["Title"] = "قائمة الاسئلة";
}

@section styles{
<style>
    table.dataTable tbody td {
        word-break: break-word;
        vertical-align: top;
    }
</style>
}

<div class="container-xxl py-5">
    <div class="container">
        <div id="select-school" class="row mb-3">
            <div class="row col-lg-12 align-items-center">
                <div class="mb-3 display-5">
                    <label class="form-label text-primary">البحث</label>
                    <hr />
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                            <label for="ddlTerritory" class="form-label">المنطقة</label>
                            <select id="ddlTerritory" class="form-select">
                                <option value="0">[اختيار]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                            <label for="ddlClassification" class="form-label">تصنيف</label>
                            <select id="ddlClassification" class="form-select">
                                <option value="0">[اختيار]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                            <label for="ddlGender" class="form-label">الجنس</label>
                            <select id="ddlGender" class="form-select">
                                <option value="0">[اختيار]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                            <label for="ddlLevel" class="form-label">المستوى</label>
                            <select id="ddlLevel" class="form-select">
                                <option value="0">[اختيار]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                            <label for="ddlSchool" class="form-label">المدرسة</label>
                            <select id="ddlSchool" class="form-select">
                                <option value="0">[اختيار]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3 display-6 animate__animated animate__lightSpeedInRight">
                            <label for="ddlRate" class="form-label">الجودة</label>
                            <select id="ddlRate" class="form-select">
                                <option value="0">[اختيار]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                @* <div class="col-12">*@
                @*  <div class="table-responsive">*@
                <table class="table table-striped table-responsive" id="tblQuestion">
                    <thead>
                        <tr>
                            <th>
                                السؤال
                            </th>
                            <th>
                                نوع الجودة
                            </th>
                            <th>
                                المدرسة
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @* </div>*@
                @* </div>*@
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    $(function () {
                $.getJSON('/Home/GetRateList', function (data) {
                     $.each(data, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlRate").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                });
                $.getJSON('/Home/GetTerritoryList', function (data) {
                     $.each(data, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlTerritory").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                });
                $.getJSON('/Home/GetClassificationList', function (data) {
                     $.each(data, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlClassification").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                });
                $.getJSON('/Home/GetGenderList', function (data) {
                     $.each(data, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlGender").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                });
                $.getJSON('/Home/GetLevelList', function (data) {
                     $.each(data, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlLevel").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                });

                $("select#ddlTerritory").change(function () {
                            var itemVal = $(this).val();
                            $("select#ddlSchool").empty();
                             $("select#ddlSchool").append(`<option value="0">[اختيار]</option>`);
                                $.post('/Home/GetSchoolListWithQuestions',{schoolId:$('#ddlSchool').val(), terrId: itemVal,levelId:$('#ddlLevel').val(),classId:$('#ddlClassification').val(),genderId:$('#ddlGender').val(),rateId:$('#ddlRate').val()} , function (data) {

                                    $.each(data.school, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlSchool").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                 $("#tblQuestion > tbody").html("");
                  $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id},${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });
                            });

                         $("select#ddlClassification").change(function () {
                            var itemVal = $(this).val();
                            $("select#ddlSchool").empty();
                             $("select#ddlSchool").append(`<option value="0">[اختيار]</option>`);
                                $.post('/Home/GetSchoolListWithQuestions',{schoolId:$('#ddlSchool').val(), terrId:$('#ddlTerritory').val(),levelId:$('#ddlLevel').val(),classId:itemVal,genderId:$('#ddlGender').val(),rateId:$('#ddlRate').val()} , function (data) {
                     $.each(data.school, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlSchool").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                 $("#tblQuestion > tbody").html("");
                  $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id}, ${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });

                        });
                        $("select#ddlGender").change(function () {
                            var itemVal = $(this).val();
                            $("select#ddlSchool").empty();
                             $("select#ddlSchool").append(`<option value="0">[اختيار]</option>`);
                                $.post('/Home/GetSchoolListWithQuestions',{schoolId:$('#ddlSchool').val(), terrId:$('#ddlTerritory').val(),levelId:$('#ddlLevel').val(),classId:$('#ddlClassification').val(),genderId:itemVal,rateId:$('#ddlRate').val()} , function (data) {
                     $.each(data.school, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlSchool").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                 $("#tblQuestion > tbody").html("");
                  $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id},${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });

                        });
                        $("select#ddlLevel").change(function () {
                            var itemVal = $(this).val();
                            $("select#ddlSchool").empty();
                             $("select#ddlSchool").append(`<option value="0">[اختيار]</option>`);
                                $.post('/Home/GetSchoolListWithQuestions',{schoolId:$('#ddlSchool').val(), terrId:$('#ddlTerritory').val(),levelId:itemVal,classId:$('#ddlClassification').val(),genderId:$('#ddlGender').val(),rateId:$('#ddlRate').val()} , function (data) {
                     $.each(data.school, function (i, e) {
                        var selected = e.selected ? "selected" : "";
                        $("select#ddlSchool").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 });
                 $("#tblQuestion > tbody").html("");
                  $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id}, ${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });

             });
              $("select#ddlRate").change(function () {
                            var itemVal = $(this).val();
                            $("select#ddlSchool").empty();
                             $("select#ddlSchool").append(`<option value="0">[اختيار]</option>`);
                                $.post('/Home/GetSchoolListWithQuestions',{schoolId:$('#ddlSchool').val(), terrId:$('#ddlTerritory').val(),levelId:$('#ddlLevel').val(),classId:$('#ddlClassification').val(),genderId:$('#ddlGender').val(), rateId:itemVal} , function (data) {
                 //    $.each(data.school, function (i, e) {
                 //       var selected = e.selected ? "selected" : "";
                 //       $("select#ddlSchool").append(`<option value="${e.value}" ${selected}>${e.text}</option>`);
                 //});
                 $("#tblQuestion > tbody").html("");
                  $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id},${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });

             });

              $("select#ddlSchool").change(function () {
                            var itemVal = $(this).val();
                                $.post('/Home/GetSchoolListWithQuestions',{schoolId:itemVal, terrId:$('#ddlTerritory').val(),levelId:$('#ddlLevel').val(),classId:$('#ddlClassification').val(),genderId:$('#ddlGender').val(),rateId:$('#ddlRate').val()} , function (data) {
                     $("#tblQuestion > tbody").html("");
                    // console.log(data);
                                    $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id},${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });

             });



              function createDataTable() {
    $('#tblQuestion').DataTable(
    {
    processing: true,
    //serverSide: true,
    responsive: true,
    filter: false,
    paging: false,
    //lengthChange: true,
    searching: false,
    ordering: false,
    info: false,
    autoWidth: false,
    columnDefs: [{
    'targets': [0], // column index (start from 0)
    // 'orderable': false, // set orderable false for selected columns
    //"searchable": false, // set searchable false for selected columns
     'width': '50%',
    'responsivePriority': 1,
    },{
    'targets': [3], // column index (start from 0)
    'orderable': false, // set orderable false for selected columns
    "searchable": false, // set searchable false for selected columns
    'width': '15%',
    }]
    });
    }
    createDataTable();



          })
          function SelectQuestion(qId,schoolId){
                  localStorage.qId = qId;
                  localStorage.schoolId = schoolId;
    window.location.href = "/Questions/CreateQuestion";
          }

          function DeleteQuestion(qId){

              swalWithBootstrapButtons.fire({
        title: 'هل انت متأكد من هذه العملية?',
        text: "لن تستطيع ارجاع هذا السجل مجددا!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'حذف!',
        cancelButtonText: 'الغاء!',
        reverseButtons: true
    }).then((result) => {
        if (result.value) {
             $.post('/Questions/DeleteQuestion', { qId:qId }, function (data) {
               if(data){
//Toast.fire({
//                    type: 'success',
//                    title: 'تم حذف السؤال بنجاح'
//                })
 $.post('/Home/GetSchoolListWithQuestions',{schoolId:$('#ddlSchool').val(), terrId:$('#ddlTerritory').val(),levelId:$('#ddlLevel').val(),classId:$('#ddlClassification').val(),genderId:$('#ddlGender').val(),rateId:$('#ddlRate').val()} , function (data) {
                     $("#tblQuestion > tbody").html("");
                    // console.log(data);
                                    $.each(data.gridResult, function (i, e) {
                                        $('#tblQuestion > tbody:last-child').append(`<tr>
                <td>${e.questionNameAr}</td>
    <td>${e.rateNameAr}</td>
    <td>${e.schoolNameAr}</td>
        <td><a style="cursor:pointer"><i class="fas fa-edit text-primary" onClick="SelectQuestion(${e.id},${e.schoolNo})"></i></a> | <a style="cursor:pointer"><i class="fa fa-trash text-danger" onClick="DeleteQuestion(${e.id})"></i></a></td>
    </tr >
    `
                        );
                 });
                });
                swalWithBootstrapButtons.fire(
                'حذفت!',
                'تم الحذف بنجاح.',
                'success'
            )
            } else {
                //Toast.fire({
                //    type: 'error',
                //    title: 'فشلت عملية الحذف'
                //})
                swalWithBootstrapButtons.fire(
                'الغاء!',
                'هذا السؤال مربوط باستطلاع.',
                'error'
            )
            }
               })
            
            
        } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
        ) {
            swalWithBootstrapButtons.fire(
                'الغاء',
                'تم الغاء حذف السجل بنجاح :)',
                'error'
            )
        }
    })


              
          }

</script>
}
